<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h2>NHL Points</h2>
                        <p>Hottest player in their team's last games</p>       
                        <ngb-tabset type="pills">
                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Last 5</b></ng-template>
                                <ng-template ngbTabContent>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr *ngFor="let row of tableData1.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr> -->
                                                <tr *ngFor="let row of xxx.details; let i= index;">
                                                        <!-- <td *ngFor="let cell of row">{{cell.name}}</td> -->
                                                        <td>{{i+1}}</td><td>{{row.name}}</td><td>{{row.team}}</td><td>{{row.points}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Last 10</b></ng-template>
                                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                <p>Exercitation +1.</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab [disabled]="false">
                                <ng-template ngbTabTitle><b>Last 20</b></ng-template>
                                <ng-template ngbTabContent>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData1.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h2>NBA Points</h2>
                        <p>Hottest player in their team's last games</p>       
                        <ngb-tabset>
                            <ngb-tab title="Last 5">
                                <ng-template ngbTabContent>
                                    <div class="table-responsive">
                                        <table class="table">
                                        <thead>
                                            <tr>
                                            <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of tableData1.dataRows">
                                                <td *ngFor="let cell of row">{{cell}}</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                    <p>Exercitation +1.</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Disabled" [disabled]="false">
                                <ng-template ngbTabContent>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData1.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
